In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("end_all_data_0815.csv",encoding="cp949")
df

,자본금,고용인원,누적투자유치금액,투자유치횟수,연매출,서비스/제품 수,설립일자,주소,연간 퇴사율,공동 창업자 수,...,순이익_2020,순이익_2021,자산_2020,자산_2021,자본_2020,자본_2021,기업명,산업군,2022기준 시장규모,투자점수
0,"2,917만원",8명,1억원,1,2.2억원,1,2020-12-21,"인천 연수구 송도과학로16번길 13-18, 718호",24.50%,1,...,-70만원,1.4억원,100만원,3.1억원,100만원,101만원,엔모션,전기차배터리,254.9조원,60
1,"3,000만원",13명,80억원,1,13.3억원,3,2020-11-18,"인천 연수구 송도미래로 30, D동 23층 2306호",0%,1,...,-100.5만원,1.9억원,"3,535.3만원",8.4억원,"2,899.5만원",2.2억원,에이치제이웨이브,자율주행차,166.2조원,1
2,1.1억원,2명,2억원,1,1.9억원,3,2019-11-18,"경남 창원시 의창구 창원대로18번길 22, 벤처동 104호, 407호",100%,1,...,-1.7억원,-2.3억원,5.4억원,3.8억원,"-9,232.2만원",-3.2억원,디알드라이브,감속기,48.2조원,1
3,1.5억원,10명,1억원,1,3.7억원,12,2016-12-30,"경기 성남시 분당구 판교로289번길 20, 2동 8층",82.10%,1,...,"3,998.8만원","1,239.5만원",4.8억원,11.2억원,1억원,1.8억원,힐스로보틱스,로봇,42.6조원,1
4,1.4억원,11명,10억원,1,5.8억원,1,2017-11-20,"서울 강남구 논현로 654, 3층",51.80%,1,...,1.6억원,2.3억원,18.7억원,58.5억원,12.7억원,48억원,로그싱크,디지털헬스케어,345.3조원,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,"4,033.8만원",93명,810억원,2,28.3억원,3,2017-12-18,서울 강남구 선릉로146길 27-7,17.10%,1,...,-18억원,-39.6억원,19.8억원,73.8억원,-18.7억원,51.6억원,칼리버스,메타버스,81.3조원,4
898,3억원,12명,50억원,1,26.5억원,0,2004-04-01,"부산 금정구 수림로19번길 21-6, 1층,2층",73.30%,1,...,6.7억원,4.4억원,21.7억원,24.8억원,19.2억원,21.7억원,와일드캣,유아신발,48.7조원,1
899,2.2억원,136명,162억원,4,"1,359.6억원",1,2016-02-04,"경기 평택시 청원로 1740, 102호",38.30%,1,...,-24.7억원,-48억원,129.4억원,393.4억원,93.7억원,295.6억원,와이엘피,화물운송,503.6조원,78
900,"6,723.1만원",7명,9억원 이상,3,0만원,1,2015-04-21,서울 서초구 서초1동 1671-2번지 4층,100%,1,...,1.7억원,-714.7만원,"7,469.6만원","1,998.8만원",-1.2억원,-1.3억원,텍스트팩토리,AI 챗봇,7.1조원,73
901,15.3억원,58명,540억원,4,34.1억원,1,2014-02-18,"충북 청주시 청원구 오창읍 연구단지로 40, 302호 미래융합기술관",92.20%,2,...,-75.7억원,-71.8억원,465.5억원,404.4억원,306.6억원,242.6억원,제이엘케이,의료 진단용 AI,21.6조원,86

# 데이터 전처리

## 불필요 컬럼, 중복값, 결측치 처리

In [4]:
# 불필요한 컬럼 제거 : "기업명"
df.drop("기업명",axis=1,inplace=True)

In [5]:
# 중복값을 확인
df.duplicated().sum()

0

In [6]:
# 결측치 확인
df.isnull().sum()

자본금            0
고용인원           0
누적투자유치금액       0
투자유치횟수         0
연매출            0
서비스/제품 수       0
설립일자           0
주소             0
연간 퇴사율         0
공동 창업자 수       0
총 투자자 수        0
최근투자유치         0
특허기술 평균등급      0
최종투자단계         0
매출액_2020       0
매출액_2021       0
영업이익_2020      0
영업이익_2021      0
순이익_2020       0
순이익_2021       0
자산_2020        0
자산_2021        0
자본_2020        0
자본_2021        0
산업군            0
2022기준 시장규모    0
투자점수           0
dtype: int64

In [8]:
df.info() # 0개의 dataInstance(df.index), 0개의 columns(df.columns) 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902 entries, 0 to 901
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   자본금          902 non-null    object
 1   고용인원         902 non-null    object
 2   누적투자유치금액     902 non-null    object
 3   투자유치횟수       902 non-null    int64
 4   연매출          902 non-null    object
 5   서비스/제품 수     902 non-null    int64
 6   설립일자         902 non-null    object
 7   주소           902 non-null    object
 8   연간 퇴사율       902 non-null    object
 9   공동 창업자 수     902 non-null    int64
 10  총 투자자 수      902 non-null    int64
 11  최근투자유치       902 non-null    object
 12  특허기술 평균등급    902 non-null    object
 13  최종투자단계       902 non-null    object
 14  매출액_2020     902 non-null    object
 15  매출액_2021     902 non-null    object
 16  영업이익_2020    902 non-null    object
 17  영업이익_2021    902 non-null    object
 18  순이익_2020     902 non-null    object
 19  순이익_2021     902 non-null    object
 20  자산_2020      902 non-null    object
 21  자산_2021      902 non-null    object
 22  자본_2020      902 non-null    object
 23  자본_2021      902 non-null    object
 24  산업군          902 non-null    object
 25  2022기준 시장규모  902 non-null    object
 26  투자점수         902 non-null    int64
dtypes: int64(5), object(22)
memory usage: 190.4+ KB

In [9]:
# 특허기술평균등급이 '-'인 것을 0으로 바꾸기

df["특허기술 평균등급"] = df["특허기술 평균등급"].replace('-',0)
df["특허기술 평균등급"] = df["특허기술 평균등급"].astype(float)

## 컬럼별 데이터 타입 동일화 : 함수 -> 실행

## 주소 형식 동일화

## 파생변수"년차" 생성 : 2023년 기준, 설립일자 사용

## 파생변수 "자본잠식률" 생성 : 자본금 - 2021자본/자본금

### 파생변수 "자본잠식률" 소숫점자리 동일화

# 전처리 완료한 DF 저장